@charset "utf-8";
html{
	background:#222222;
	font-family:helvetica, arial, sans-serif;
}

#fields{
	text-align: center;
}

fieldset{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}

legend{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:white;
	text-align: center;
	display: block;
}

label{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:white;
	text-align: center;	
}

.wrapper{
	width:960px;
	margin: 0 auto;
	position:relative;
}
#map{
	position:relative;
	text-align: center;
	color: #363535;
	text-transform: uppercase;
	width: 425px;
	height: 350px;
	margin:0 auto;
	margin-top:20px;
	padding: 5px;
	border: 1px solid black;
	background: #474747;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .3);
}

#displayCoords{
	text-align: center;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#button{
	padding:10px 40px;
	background-color:#00caa7;
	color:#00caa7;
	color:Black;
	display:block;
	font-family:'Courier New', Courier, monospace;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	width:500px;
	margin:0 auto;
	margin-top:20px;
}
#button:hover{
	background-color:#00b495
}
#results{
	color: rgb(0, 180, 149);
	position: absolute;
	margin-top: 20px;
	text-align: center;
	line-height: 23px;
	width: 100%;
}

.header{
    background-color:lightblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

footer a{
    color: blue;

}